.mantine-Notifications-notification {
  animation: notificationDropIn 250ms cubic-bezier(0.21, 1.02, 0.73, 1);
}

@keyframes notificationDropIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btnAction:hover {
  background: rgba(255, 255, 255, 0.08) !important;
  border-color: rgba(255, 255, 255, 0.35) !important;
}

.btnPrimary:hover {
  background: #515aba !important;
}
